body{
    background-image: url(../img/athletic-man-woman-with-dumbbells.jpg);
    background-repeat: no-repeat;
    background-size: contain;
}
.menu{
    margin-left: 0px;
    width: 255px;   
    height: 2200px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #D6E4E5;
    float: left;
    border: 10px solid #EB6440;
 
}
.menu .kullanıcı{
    padding-left: 65px;
    padding-top: 50px;
    position: relative;
    left: 30px;
   
 
}
.menu .başlık{

    padding-top: 20px;
    
    position: relative;
    left: 20px;
   
   
}
.menu .kullanıcı .başlık{

    position: relative;
    left: 30px;
   
}a{
    text-decoration: none;
    font-size: 20px;
    color: #D6E4E5;
}a:hover{
    color:#EB6440;
    color: black;
 
}.train {
    position: relative;
    cursor: pointer;
    width: 177px;
    height: 160px;
    left: 0;
    transition: left 5s cubic-bezier(0, 0, 1, 1);
  }